.map-title {
    /* ELements are horizontally stacked */
    display: flex;
    /* Elements are vertically centered */
    align-items: center;
}

.title {
    color: #303030;
    display: flex;
    justify-content: baseline;
}

#circle {
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 25px;
    background: #FD585E;
    margin-right: 10px;
}

.legend {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-left: 20px;
}

.report-button {
    background-color: #FD585E;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    width: 60%;

}

.district-status {

    width: 600px;
    height: 500px;
}